@{
    ViewData["Title"] = "Student Portal"; 
}

<div class="container">
    <div class="text-center">
        <h1 class="display-4">Welcome to the Student Portal!</h1>
        <p>Manage your student information here.</p>
        <a href="/Student" class="btn btn-primary">View All Students</a>


    </div>
</div>
